@charset "UTF-8";

@font-face {
  font-family: "eksicon";
  src:url("fonts/eksicon.eot");
  src:url("fonts/eksicon.eot?#iefix") format("embedded-opentype"),
    url("fonts/eksicon.woff") format("woff"),
    url("fonts/eksicon.ttf") format("truetype"),
    url("fonts/eksicon.svg#eksicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "eksicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="eksicon-"]:before,
[class*=" eksicon-"]:before {
  font-family: "eksicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eksicon-blockchain:before {
  content: "\61";
}
.eksicon-flutter:before {
  content: "\62";
}
.eksicon-kotlin:before {
  content: "\63";
}
.eksicon-rlang:before {
  content: "\64";
}
.eksicon-rust:before {
  content: "\65";
}
.eksicon-sap:before {
  content: "\66";
}
.eksicon-bitcoin:before {
  content: "\67";
}
.eksicon-security:before {
  content: "\68";
}
.eksicon-matlab:before {
  content: "\69";
}
