$icomoon-font-family: "eksicon" !default;
$icomoon-font-path: "assets/eksicon/fonts" !default;

$eksicon-bitcoin: "\e901";
$eksicon-matlab: "\e902";
$eksicon-kotlin-path1: "\1f323";
$eksicon-kotlin-path2: "\1f324";
$eksicon-kotlin-path3: "\1f325";
$eksicon-flutter-path1: "\e904";
$eksicon-flutter-path2: "\e905";
$eksicon-flutter-path3: "\e906";
$eksicon-flutter-path4: "\e907";
$eksicon-flutter-path5: "\e908";
$eksicon-rlang-path1: "\e909";
$eksicon-rlang-path2: "\e90a";
$eksicon-rust: "\e90b";
$eksicon-shield: "\e903";
$eksicon-blockchain: "\e900";
$eksicon-sap-path1: "\e90c";
$eksicon-sap-path2: "\e90d";
$eksicon-sap-path3: "\e90e";

